@gap: 10px;
.container{
  border: 1px solid #999;
  background: #fff;
  padding-left: @gap;
  padding-right: @gap;
}
.row{
  margin-left: -@gap;
  margin-right: -@gap;
}
[class^=col]{
  float: left;
  border: 1px solid #eee;
  background: #eee;
  height: 50px;
  box-sizing: border-box;
}
.col-md-4{
  float: left;
  width: 33.33333333%;
}
