<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
<fieldset ng-controller="MainCtrl">
    <legend>树形组件</legend>
    <input type="text" placeholder="search" ng-model="keyword">
    <input type="button" id="search" value="搜索" ng-click="search()">
    <p id="result"></p>
    <div class="container">
        <tree-directive model="model"></tree-directive>
    </div>
</fieldset>
<script src="index.js"></script>
</body>
</html>
