@import "/styles/reset.css";
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
}
.clearfix::after {
  clear: both;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
header {
  height: 55px;
  line-height: 55px;
  background: #333;
}
header .logo {
  display: inline-block;
  height: 55px;
}
header .logo .img-logo {
  width: 120px;
  height: 29px;
  vertical-align: middle;
}
header nav {
  float: right;
  height: 55px;
  line-height: 55px;
}
header nav li {
  list-style: none;
  width: 86px;
  display: inline-block;
  margin-left: 5px;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.content {
  background: rgba(222, 222, 222, 0.2);
  border: 1px solid transparent;
}
.content ul li {
  list-style: none;
}
.content section {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
}
.content section h3 {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}
.content section .desc {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}
.content section.sidebar .title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  border-left: 4px solid #eaeaea;
  padding: 10px;
}
.content section.sidebar form .wrapper {
  width: 500px;
  padding: 15px;
  margin: auto;
  position: relative;
}
.content section.sidebar form .wrapper label {
  position: absolute;
  right: 100%;
  white-space: nowrap;
}
.content section.sidebar form .wrapper .prompt {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.content section.sidebar form .wrapper input,
.content section.sidebar form .wrapper select {
  margin-bottom: 20px;
}
.content section.sidebar form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #0000ff;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}
.content figure {
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #eaeaea;
  padding: 10px;
}
.content figure figcaption {
  text-align: center;
  font-size: 12px;
}
.content figure img {
  width: 120px;
  height: 120px;
}
.content table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.content table,
.content table tr,
.content table th,
.content table td {
  border: 1px solid #eaeaea;
}
.content table colgroup.first {
  width: 50%;
}
.content table colgroup.second {
  width: 30%;
}
.content table colgroup.third {
  width: 20%;
}
.content table thead {
  background: #333333;
  color: #fff;
}
.content table tfoot {
  background: #eaeaea;
  color: #000;
  font-weight: bold;
}
footer {
  background: #333;
  height: 50px;
  text-align: center;
}
footer .copyright {
  display: inline-block;
  margin-top: 15px;
  color: #fff;
}
