.gamepad{
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #333;
  .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .transform-origin(@height){
    transform-origin: 25px (10px+@height/2px)
  }
  .topcenter{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
  }
  .orbit{
    border: 1px solid  #333;
    border-radius: 50%;
    .center;
    &[data-id='1']{
      width: 500px;
      height: 500px;
      .spaceship {
        .transform-origin(500);
      }
    }
    &[data-id='2']{
      width: 400px;
      height: 400px;
      .spaceship {
        .transform-origin(400);
      }
    }
    &[data-id='3']{
      width: 300px;
      height: 300px;
      .spaceship {
        .transform-origin(300);
      }
    }
    &[data-id='4']{
      width: 200px;
      height: 200px;
      .spaceship {
        .transform-origin(200);
      }
    }
    .spaceship{
      width: 50px;
      height: 20px;
      border: 1px solid blue;
      .topcenter;
    }
  }
  .earth{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: blue;
    .center;
  }
}
@keyframes circle {
  0%{

  }
}
