@import "/styles/reset.css";
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
}
.clearfix::after {
  clear: both;
}
.center-block {
  margin: 0 auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
